<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <h2>Создание пользователя</h2>
    <table>
        <thead>
        <tr>
            <th><label for="email">Email</label></th>
            <th><label for="password">Пароль</label></th>
            <th><label for="firstName">Имя</label></th>
            <th><label for="lastName">Фамилия</label></th>
            <th><label for="age">Возраст</label></th>
            <th>Роль</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" name="email" id="email" placeholder="Email"></td>
            <td><input type="text" name="password" id="password" placeholder="Password"></td>
            <td><input type="text" name="firstName" id="firstName" placeholder="First Name"></td>
            <td><input type="text" name="lastName" id="lastName" placeholder="Last Name"></td>
            <td><input type="text" name="age" id="age" placeholder="Age"></td>
            <td><select id="rolesId" name="rolesId">
                <option value="1" checked>Пользователь</option>
                <option value="2">Админ</option>
            </select></td>
            <td><input type="submit" value="Create User"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>